<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Libax | <%= pageTitle %></title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <!--  -->
    <link rel="stylesheet" href="/auth/css/bootstrap.min.css">
    <link rel="stylesheet" href="/auth/css/all.min.css">
    <link rel="stylesheet" href="/auth/css/animate.css">
    <link rel="stylesheet" href="/auth/css/flaticon.css">
    <link rel="stylesheet" href="/auth/css/lightcase.css">
    <link rel="stylesheet" href="/auth/css/swiper.min.css">
    <link rel="stylesheet" href="/auth/css/nice-select.css">
    <link rel="stylesheet" href="/auth/css/main.css">
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>
<%- include('../partials/header.ejs') %>      
 <!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__text">
                  <h4>Address</h4>
                  <div class="breadcrumb__links">
                      <a href="/">Home</a>
                      <span>Sign-In</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

    <!--=================Account Section================= -->
    <section class="account-section padding-top padding-bottom bg_img bg_right_bottom"
        data-background="./assets/images/account/account-bg.png">
        <div class="container">
            <div class="account-wrapper">
                <div class="account-area">
                    <h3 class="account-title">Select a delivery address</h3>
                    
                    <% if(doesAddressExist) { %>
                        <form class="sign-in-form" action="/cart" method="get">
                    <p id="add1-area" style="display: none;"><%= doesAddressExist.address.details[0].area%></p>
                    <p id="add1-landMark" style="display: none;"><%= doesAddressExist.address.details[0].landmark%></p>
                    <p id="add1-flat" style="display: none;"><%= doesAddressExist.address.details[0].flat%></p>
                    <p id="add1-city" style="display: none;"><%= doesAddressExist.address.details[0].city%></p>
                    <p id="add1-state" style="display: none;"><%= doesAddressExist.address.details[0].state%></p>
                    <p id="add1-pincode" style="display: none;"><%= doesAddressExist.address.details[0].pin_code%></p>
                    <p id="add1-phone" style="display: none;"><%= doesAddressExist.address.details[0].phone_number%></p>

                    <h4 class="account-title">Previous Address</h4>
                    <div class="form-group">
                      <textarea 
                      disabled='true'
                      id="address-text"
                      type='text'
                      name="prev_address"
                      ></textarea>
                    </div>
                    <div class="form-group">
                        <input name="_csrf" type="hidden" value="<%= csrfToken %>" />
                        <input type="submit" value="Continue With Previous Address">
                    </div>
                </form>

                    <% } %>
                    <form class="sign-in-form" action="/post-Add-Address" method="POST">
                      <% if(doesAddressExist) { %>
                        <h4 class="account-title">Add New Address</h4>
                      <% } %>
                        <div class="form-group">
                            <input 
                             type="number"
                             placeholder="Phone Number"
							 name="phone"
                             value=""
                              >
                        </div>
                        <div class="form-group">
                            <input type="number"
                             placeholder="PIN Code"
                             id="my-input-01"
							 name="pin"
                             value=""
                            >
                            </div>
                            <!-- ************************* -->
                            <div class="form-group">
                                <input type="text"
                                    placeholder="Area, Colony, Street, Sector, Village"
                                    id="my-input-01"
                                    name="area"
                                    value=""
                                >
                            </div>
                            <div class="form-group">
                                <input type="text"
                                    placeholder="Flat, House no., Building, Company, Apartment"
                                    id="my-input-01"
                                    name="flat"
                                    value=""
                                >
                        </div>
                        <div class="form-group">
                            <input type="text"
                                placeholder="LandMark"
                                id="my-input-01"
                                name="landmark"
                                value=""
                            >
                        </div>
                        <div class="form-group">
                            <input type="text"
                            placeholder="Town/City"
                            id="my-input-01"
                            name="city"
                            value="">
                            </div>
                            <div class="form-group">
                                <input type="text"
                                    placeholder="State / Province / Region"
                                    id="my-input-01"
                                    name="state"
                                    value=""
                                >
                                </div>
                            <!-- **************************8 -->
                        <div class="form-group">
                            <input name="_csrf" type="hidden" value="<%= csrfToken %>" />
                            <input type="submit" value="Continue">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
  
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
  
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
  
        <!-- Js Plugins -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>
            <!--=================Footer Section================= -->

    <script src="/auth/js/jquery-3.3.1.min.js"></script>
    <script src="/auth/js/plugins.js"></script>
    <script src="/auth/js/lightcase.js"></script>
    <script src="/auth/js/swiper.min.js"></script>
    <script src="/auth/js/wow.min.js"></script>
    <script src="/auth/js/countdown.min.js"></script>
    <script src="/auth/js/counterup.min.js"></script>
    <script src="/auth/js/nice-select.js"></script>
    <script src="/auth/js/main.js"></script>
  </body>
  </html>
  <script>
      let area = document.getElementById('add1-area').innerText;
      let landmark = document.getElementById('add1-landMark').innerText;
      let flat = document.getElementById('add1-flat').innerText;
      let pincode = document.getElementById('add1-pincode').innerText;
      let city = document.getElementById('add1-city').innerText;
      let state = document.getElementById('add1-state').innerText;
      let phone = document.getElementById('add1-phone').innerText;



      document.getElementById('address-text').value = `
      Area: ${area}\nLandmark: ${landmark}\nFlat No: ${flat}\nPincode No: ${pincode}\nCity: ${city}\nState: ${state}\nPhone: ${phone}
      `.trim();
  </script>
