<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Libax | <%= pageTitle %></title>

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/auth/css/bootstrap.min.css">
    <link rel="stylesheet" href="/auth/css/all.min.css">
    <link rel="stylesheet" href="/auth/css/animate.css">
    <link rel="stylesheet" href="/auth/css/flaticon.css">
    <link rel="stylesheet" href="/auth/css/lightcase.css">
    <link rel="stylesheet" href="/auth/css/swiper.min.css">
    <link rel="stylesheet" href="/auth/css/nice-select.css">
    <link rel="stylesheet" href="/auth/css/main.css">
  <link rel="stylesheet" href="/admin/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">

  </head>

  <body>
    <div id="preloder">
      <div class="loader"></div>
    </div>
<%- include('../partials/header.ejs') %>      
  <!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__text">
                  <h4>Sign-In</h4>
                  <div class="breadcrumb__links">
                      <a href="/">Home</a>
                      <span>Sign-In</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

    <!--=================Account Section================= -->
    <section class="account-section padding-top padding-bottom bg_img bg_right_bottom"
        data-background="./assets/images/account/account-bg.png">
        <div class="container">
            <div class="account-wrapper">
                <div class="account-area">
                    <h3 class="account-title">Update your password</h3>
                    <form class="sign-in-form" action="/edit-password" method="POST" enctype="application/x-www-form-urlencoded">
                        <% if (errorMsg) { %> 
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close back" data-dismiss="alert">&times;</button>
                                <strong><%= errorMsg[0].msg %></strong>
                            </div>
                        <% } %>
                        <div class="form-group">
                            <input type="password"
                              placeholder="Password"
                              id="my-input-01"
                              name="password"
                              value=""
                            >
                            <span class="view-pass" id="view-pass-01">
                                <i class="flaticon-eye"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <input name="userId" type="hidden" value="<%= userId %>" />
                            <input name="_csrf" type="hidden" value="<%= csrfToken %>" />
                            <input type="submit" value="Update Password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
  
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
  
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
  
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/auth/js/jquery-3.3.1.min.js"></script>
    <script src="/auth/js/plugins.js"></script>
    <script src="/auth/js/lightcase.js"></script>
    <script src="/auth/js/swiper.min.js"></script>
    <script src="/auth/js/wow.min.js"></script>
    <script src="/auth/js/countdown.min.js"></script>
    <script src="/auth/js/counterup.min.js"></script>
    <script src="/auth/js/nice-select.js"></script>
    <script src="/auth/js/main.js"></script>
<script src="/admin/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="/admin/plugins/toastr/toastr.min.js"></script>
  </body>  
</html>